footer {
  padding-top: 15.4rem;
  .container {
    background-color: $brand-dark-gray;
    border-radius: 4.5rem 4.5rem 0 0;
    padding: 5.5rem 6rem 5rem 6rem;
  }
  .top {
    @include flex(row, center, space-between);
    max-width: 93.6rem;
    width: 100%;
    margin-bottom: 6.6rem;
    .logo {
      width: 6.6rem;
    }
    .top-nav {
      max-width: 43rem;
      width: 100%;
      ul {
        @include flex(row, center, space-between);
        li {
          margin-right: 4rem;
          &:last-of-type {
            margin-right: 0;
          }
          a {
            color: $brand-white;
            font-size: 1.8rem;
            font-weight: 400;
            text-decoration: underline;
          }
        }
      }
    }
    .share {
      ul {
        @include flex(row, center, space-between);
        li {
          margin-right: 2rem;
          &:last-of-type {
            margin-right: 0;
          }
          img {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
  }
  .main {
    border-bottom: 0.1rem solid $brand-white;
    margin-bottom: 5rem;
    @include flex(row, flex-start, space-between);
    .item {
      h4 {
        color: $brand-black;
        background-color: $brand-blue;
        padding: 0 0.7rem;
        border-radius: 0.7rem;
        width: fit-content;
        margin-bottom: 2.7rem;
      }
      ul {
        margin-bottom: 5rem;
        li {
          margin-bottom: 2rem;
          &:last-of-type {
            margin-bottom: 0;
          }
          p {
            color: $brand-white;
          }
        }
      }
    }
    .share {
      display: none;
    }
  }
  .msg {
    display: flex;
    align-items: flex-start;
    p,
    a {
      width: auto;
      color: $brand-white;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.8rem;
    }
    a {
      margin-left: 4rem;
      text-decoration: underline;
    }
  }
  @include responsive(880px) {
    .top {
      @include flex(column, flex-start, center);
      .top-nav,
      .logo {
        margin-bottom: 2rem;
      }
    }
  }
  @include responsive(767px) {
    .container {
      border-radius: 0;
      padding: 5rem 2rem 3rem;
    }
    .top {
      margin-bottom: 3.7rem;
      @include flex(column, center, center);
      .logo {
        margin-bottom: 3.7rem;
      }
      .top-nav {
        margin-bottom: 0;
        ul {
          @include flex(column, center, center);
          li {
            margin-right: 0;
            margin-bottom: 1.5rem;
            &:last-of-type {
              margin-bottom: 0;
            }
            a {
              font-size: 1.6rem;
            }
          }
        }
      }
      .share {
        display: none;
      }
    }
    .main {
      margin-bottom: 3.7rem;
      @include flex(column, center, center);
      .item,
      ul,
      li {
        @include flex(column, center, center);
      }
      .item {
        h4 {
          margin-bottom: 3.7rem;
        }
        ul {
          margin-bottom: 3.7rem;
          li {
            margin-bottom: 1.5rem;
            text-align: center;
          }
        }
      }
      .share {
        display: block;
        margin-bottom: 3.7rem;
        ul {
          @include flex(row, center, center);
          li {
            margin-right: 2rem;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
    .msg {
      @include flex(column, center, center);
      p,
      a {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
      p {
        margin-bottom: 1.5rem;
        text-align: center;
      }
      a {
        margin-left: 0;
      }
    }
  }
  @include responsive(600px) {
    padding-top: 6.5rem;
  }
}
