header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 6.3rem 0;
  z-index: 99;
  transition: all 0.3s linear;
  @include flex(row, center, center);
  .container {
    position: relative;
    @include flex(row, center, space-between);
    .logo {
      background-image: url("../assets/logo-black.svg");
      background-size: cover;
      width: 6.6rem;
      height: 4.8rem;
    }
  }
  .navTrigger {
    position: relative;
    width: 4rem;
    height: 4rem;
    outline: none;
    cursor: pointer;

    display: none;
    .menu__button {
      position: relative;
      width: 3rem;
      height: 1.8rem;
      @include flex(column, center, space-between);
      span {
        display: block;
        position: relative;
        width: 100%;
        height: 0.2rem;
        background: #000000;
        transition: 0.5s;
      }
    }
    &:focus {
      outline: none;
    }
    &.active {
      span {
        &:nth-child(1) {
          opacity: 0;
        }
        &:nth-child(2) {
          transform: translateY(0.1rem) rotate(45deg);
        }
        &:nth-child(3) {
          transform: translateY(-0.7rem) rotate(-45deg);
        }
      }
    }
  }
  .navMenu {
    @include flex(row, center, center);
    ul {
      display: flex;
      align-items: center;
      margin-right: 4rem;
      li {
        &:not(:last-child) {
          margin-right: 4rem;
        }
        a {
          color: $brand-black;
          font-size: 2rem;
          font-weight: 400;
          line-height: 2.8rem;
          transition: color 0.3s;
          &:hover {
            color: $brand-dark-gray;
          }
        }
      }
    }
  }
  &.scroll-header {
    padding: 2rem 0;
    background-color: $brand-dark-gray;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.12);
    .container {
      .logo {
        background-image: url("../assets/logo-white.svg");
      }
    }
    .navMenu {
      ul {
        li {
          a {
            color: $brand-white;
          }
        }
      }
    }
    .btn-secondary {
      border: 0.1rem solid $brand-white;
      color: $brand-white;
      &:hover {
        border: 0.1rem solid $brand-white;
        background-color: $brand-white;
        color: $brand-dark-gray;
      }
    }
  }
  @include responsive(991px) {
    max-width: 100%;
    .navTrigger {
      @include flex(row, center, center);
    }
    .navMenu {
      position: absolute;
      top: 6rem;
      right: 1.5rem;
      text-align: center;
      opacity: 0;
      z-index: -1;
      visibility: hidden;
      transition: all 0.375s;
      max-width: 28rem;
      width: 100%;
      &.active {
        opacity: 1;
        z-index: 100;
        visibility: visible;
        li {
          opacity: 1;
          transform: translateY(0);
        }
      }
      ul {
        width: 100%;
        background-color: $brand-white;
        border: 0.1rem solid $gray-100;
        padding: 1rem;
        list-style: none;
        border-radius: 0.7rem;
        gap: 1rem;
        margin-right: 0;
        @include flex(column, center, center);
        li {
          display: block;
          text-align: center;
          width: 100%;
          height: 100%;
          opacity: 0;
          &:not(:last-child) {
            margin-right: 0;
          }
          a {
            position: relative;
            display: block;
            color: #496173;
            font-size: 1.4rem;
            transition: 0.25s;
            line-height: 1;
            padding: 1rem;
            min-height: 4.5rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.1rem solid $gray-100;
            border-radius: 0.4rem;
            &:hover {
              background-color: #efefef;
            }
          }
        }
      }
      .btn-secondary {
        display: none;
      }
    }
    &.scroll-header {
      .navMenu {
        top: 9rem;
      }
    }
  }
  @include responsive(600px) {
    .container,
    .home-container {
      .logo {
        width: 13.7rem;
        height: 2.5rem;
      }
    }
  }
  @include responsive(480px) {
    height: 7.3rem;
  }
}
