.s-hero {
  width: 100%;
  min-height: 53rem;
  margin-top: 20.1rem;
  .container {
    @include flex(row, flex-start, space-between);
  }
  .text {
    width: 100%;
    max-width: 53.1rem;
    h1,
    p {
      color: $brand-black;
      margin-bottom: 3.5rem;
      max-width: 49.8rem;
      width: 100%;
    }
    p {
      font-size: 2rem;
      line-height: 2.8rem;
    }
    &.responsive {
      display: none;
    }
  }
  .area-image {
    width: 100%;
    max-width: 70.6rem;
    margin-right: -14rem;
    .image {
      position: relative;
      width: 100%;
      height: 54rem;
      img {
        position: absolute;
      }
      .main {
        top: 1rem;
        right: 21rem;
        max-width: 34rem;
        width: 100%;
      }
      .orbit {
        bottom: 4.6rem;
        max-width: 56.5rem;
        width: 100%;
        animation: floating 8s infinite;
      }
      .stars {
        bottom: 6rem;
        left: 6rem;
        max-width: 27.1rem;
        width: 100%;
        animation: floating 6s infinite;
      }
      .dots {
        top: 4rem;
        left: 6rem;
        max-width: 37.3rem;
        width: 100%;
        animation: floating 9s infinite;
      }
      .circle {
        max-width: 10.1rem;
        width: 100%;
        &.first {
          top: -1rem;
          right: 21rem;
          animation: floating 6s infinite;
        }
        &.second {
          top: 0rem;
          right: 12rem;
          animation: floating 8s infinite;
        }
        &.third {
          top: 11rem;
          right: 12rem;
          animation: floating 7s infinite;
        }
        &.fourth {
          top: 22rem;
          right: 13rem;
          animation: floating 9s infinite;
        }
      }
    }
  }
  @include responsive(1440px) {
    .area-image {
      margin-right: -13rem;
    }
  }
  @include responsive(1366px) {
    .area-image {
      margin-right: -10rem;
      .image {
        .main {
          top: 4rem;
          right: 23rem;
          max-width: 30rem;
        }
        .orbit {
          right: 18rem;
          bottom: 7rem;
          max-width: 48.5rem;
        }
        .stars {
          bottom: 8rem;
          left: 11rem;
          max-width: 24rem;
        }
        .dots {
          top: 7rem;
          left: 9rem;
          max-width: 32rem;
        }
        .circle {
          max-width: 8rem;
          &.first {
            top: 4rem;
            right: 22rem;
          }
          &.second {
            top: 4rem;
            right: 14rem;
          }
          &.third {
            top: 13rem;
            right: 15rem;
          }
          &.fourth {
            top: 21rem;
            right: 16rem;
          }
        }
      }
    }
  }
  @include responsive(1100px) {
    .area-image {
      margin-right: -15rem;
      .image {
        .stars {
          bottom: 8rem;
          left: 8rem;
          max-width: 24rem;
        }
        .dots {
          top: 5rem;
          left: 6rem;
          max-width: 32rem;
        }
      }
    }
  }
  @include responsive(991px) {
    min-height: 76.3rem;
    height: fit-content;
    .container {
      @include flex(column, center, center);
    }
    .text {
      max-width: 100%;
      @include flex(column, center, center);
      h1 {
        text-align: center;
        max-width: 100%;
        margin-bottom: 2.3rem;
      }
      p,
      .btn-primary {
        display: none;
      }
      &.responsive {
        display: block;
        @include flex(column, center, center);
        p,
        .btn-primary {
          display: block;
        }
        p {
          max-width: 100%;
          text-align: center;
          font-size: 1.8rem;
        }
      }
    }
    .area-image {
      margin-right: initial;
      margin-bottom: 2.3rem;
      .image {
        height: 31rem;
        .main {
          top: 3rem;
          right: 0;
          left: 0;
          margin: 0 auto;
          max-width: 20.5rem;
        }
        .orbit {
          top: 6rem;
          bottom: initial;
          right: 7rem;
          left: 0;
          margin: 0 auto;
          max-width: 34rem;
        }
        .stars {
          top: 21rem;
          bottom: initial;
          right: 16rem;
          left: 0;
          margin: 0 auto;
          max-width: 16.3rem;
        }
        .dots {
          top: 4rem;
          right: 13rem;
          left: 0;
          margin: 0 auto;
          max-width: 22.3rem;
        }
        .circle {
          max-width: 7rem;
          &.first {
            top: 2rem;
            right: 22rem;
          }
          &.second {
            top: 3rem;
            right: 15rem;
          }
          &.third {
            top: 11rem;
            right: 16rem;
          }
          &.fourth {
            top: 18rem;
            right: 17rem;
          }
        }
      }
    }
  }
  @include responsive(767px) {
    margin-top: 14.3rem;
    .text {
      &.responsive {
        p {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }
  }
  @include responsive(600px) {
    .text {
      h1 {
        text-align: start;
      }
      &.responsive {
        p {
          text-align: start;
        }
      }
    }
  }
}

.s-accordion {
  padding-top: 8.6rem;
  .container {
    @include flex(column, center, center);
  }
  .text {
    width: 100%;
    h2 {
      color: $brand-black;
      margin-bottom: 1.7rem;
      padding: 0 0.7rem;
      background-color: $brand-blue;
      width: fit-content;
      border-radius: 0.7rem;
    }
    p {
      color: $brand-black;
    }
  }
  @include responsive(600px) {
    padding-top: 6.5rem;
    .text {
      @include flex(column, center, center);
      text-align: center;
      h2 {
        margin-bottom: 3rem;
      }
    }
  }
}

.s-cards {
  padding-top: 12.7rem;
  .text {
    width: 100%;
    h2 {
      color: $brand-black;
      margin-bottom: 1.7rem;
      padding: 0 0.7rem;
      background-color: $brand-blue;
      width: fit-content;
      border-radius: 0.7rem;
    }
    p {
      color: $brand-black;
    }
  }
  .slide-cards {
    margin-top: 5.3rem;
    .swiper-slide {
      height: auto;
    }
  }
  .control-panel {
    @include flex(row, center, space-between);
    position: relative;
    position: relative;
    max-width: 56.4rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 5.3rem;
    .swiper-button-next,
    .swiper-button-prev {
      position: relative;
      height: fit-content;
      top: 0;
      margin-top: 0;
      &::after {
        content: url("../assets/arrow-slider.svg");
        line-height: 0;
      }
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
      &::after {
        transform: rotate(-180deg);
      }
    }
    .swiper-pagination {
      line-height: 0;
      position: relative;
      width: auto;
      top: 0;
      .swiper-pagination-bullet {
        width: 1.4rem;
        height: 1.4rem;
        background: $brand-black;
        opacity: 1;
        border-radius: 1.2rem;
        transition: all 0.3s;
        margin-right: 1.8rem;
        margin-left: 0;
        &:last-of-type {
          margin-right: 0;
        }
        &-active {
          background: $brand-blue;
        }
      }
    }
  }
  .btn-section {
    display: none;
    width: 100%;
  }
  @include responsive(600px) {
    padding-top: 6.5rem;
    .text {
      @include flex(column, center, center);
      text-align: center;
      h2 {
        margin-bottom: 3rem;
      }
    }
    .slide-cards {
      margin-top: 3rem;
      .swiper-slide {
        &.responsive {
          display: none;
        }
      }
    }
    .control-panel {
      display: none;
    }
    .btn-section {
      margin-top: 1rem;
      display: block;
    }
  }
}

.s-form {
  padding-top: 8.6rem;
  .container {
    @include flex(column, center, center);
  }
  .text {
    width: 100%;
    h2 {
      color: $brand-black;
      margin-bottom: 1.7rem;
      padding: 0 0.7rem;
      background-color: $brand-blue;
      width: fit-content;
      border-radius: 0.7rem;
    }
    p {
      color: $brand-black;
    }
  }
  .contact {
    @include flex(row, flex-start, space-between);
    position: relative;
    margin-top: 5.3rem;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: $brand-light-gray;
    border-radius: 4.5rem;
    padding: 6rem 10rem 8rem;
    form {
      max-width: 55.6rem;
      width: 100%;
      text-align: center;
      z-index: 1;
      .input-box {
        @include flex(column, center, center);
        .input-field {
          width: 100%;
        }
      }
      .field {
        .item {
          width: 100%;
          height: 5.9rem;
          padding: 18px 30px;
          background: $brand-white;
          border: 1px solid $brand-black;
          outline: none;
          border-radius: 1.4rem;
          font-size: 1.8rem;
          line-height: normal;
          color: $brand-black;
          margin-bottom: 2.5rem;
          resize: none;
          &::placeholder {
            color: #898989;
          }
          &.message {
            height: 19rem;
            margin-bottom: 4rem;
          }
        }
        p {
          font-size: 1.6rem;
          line-height: 2.8rem;
          width: fit-content;
          margin-bottom: 0.5rem;
          color: $brand-black;
        }
        .error-txt {
          font-size: 1.45rem;
          color: #d93025;
          text-align: left;
          margin: -2rem 0 1rem;
          display: none;
        }
        &.error {
          .item {
            border-color: #d93025;
          }
          .error-txt {
            display: block;
          }
        }
      }
      .textarea-field {
        .error-txt {
          top: -2rem;
          position: relative;
        }
      }
      button {
        width: 100%;
      }
    }
    .area-image {
      width: 100%;
      max-width: 32.5rem;
      height: 100%;
      position: absolute;
      right: 0;
      z-index: 0;
      .image {
        position: relative;
        width: 100%;
        height: 57rem;
        img {
          position: absolute;
          &.lines {
            width: 100%;
            top: 0;
            left: 0;
          }
          &.star-a {
            width: 21.8rem;
            height: 21.8rem;
            top: 18rem;
            left: 1rem;
            animation: floating 4s infinite;
          }
          &.star-b {
            width: 14rem;
            height: 14rem;
            top: 46rem;
            left: -3rem;
            animation: floating 6s infinite;
          }
        }
      }
    }
  }
  @include responsive(800px) {
    .contact {
      padding: 5rem 3rem;
      form {
        max-width: 100%;
      }
      .area-image {
        display: none;
      }
    }
  }
  @include responsive(767px) {
    .contact {
      margin-top: 4rem;
    }
  }
  @include responsive(600px) {
    padding-top: 6.5rem;
    .text {
      @include flex(column, center, center);
      text-align: center;
      h2 {
        margin-bottom: 3rem;
      }
    }
    .contact {
      form {
        max-width: 100%;
        .field {
          p {
            font-size: 1.4rem;
            margin-bottom: 1rem;
          }
          .item {
            margin-bottom: 2rem;
            font-size: 1.6rem;
            padding: 18px 20px;
            &.message {
              margin-bottom: 4.6rem;
            }
          }
        }
      }
    }
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
