h1 {
  font-size: 6rem;
  @include responsive(430px) {
    font-size: 4.3rem;
  }
}

h2 {
  font-size: 4rem;
  @include responsive(430px) {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 3rem;
  @include responsive(430px) {
    font-size: 2.6rem;
  }
}

h4 {
  font-size: 2rem;
  @include responsive(430px) {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  color: $brand-dark-gray;
  line-height: normal;
  @include responsive(430px) {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: $brand-dark-gray;
  line-height: normal;
}
