// Cores

$brand-blue: #009ead;
$brand-dark-gray: #191a23;
$brand-light-gray: #f3f3f3;

$brand-black: #000000;
$brand-white: #ffffff;

$red-error: #d93025;

// Escalas de cinza

$gray-200: #231f20;
$gray-100: #898989;
