// Cores

$brand-blue: #009ead;
$brand-dark-gray: #191a23;
$brand-light-gray: #f3f3f3;

$brand-black: #000000;
$brand-white: #ffffff;

// Escalas de cinza

$gray-200: #231f20;
$gray-100: #898989;

// OUTRAS

$brand-light-blue: #00a5f0;
$brand-green-light: #00d7d7;
$brand-yellow: #ffc800;

$gray-600: #33303e;
$gray-500: #4e4b59;
$gray-400: #5f5c6b;
$gray-300: #7a7786;
